<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/css/clearStyle.css">
    <link rel="stylesheet" href="/css/index_style.css">
</head>
<body>
<div class="status-bar">
    <a class="login-admin" href="/admin/admin_home">管理站点</a>
    <ul class="contact-box">
        <li>
            <a href="#" target="_blank">
                <img src="/images/contact-qq.png" class="contact-img" alt="">
            </a>
        </li>
        <li>
            <a href="https://github.com/SURA907/node_blog" target="_blank">
                <img src="/images/contact-GitHub.png" class="contact-img" alt="">
            </a>
        </li>
    </ul>

</div>

<div class="title-page">
    <img src="/images/titlePage.jpg">
        <div class="home-title">
            <a href="#">SURA's blog</a>
        </div>
</div>

<div class="container">
    <ul class="text-bkg">
        <% for (var i = 0; i < article_summary.length; i++) {%>
        <li class="article-summary">
            <img src="/images/article-summary-bkg.png" alt="">
            <a href="/article?id=<%=article_summary[i].article_id%>">
                <h2 class="text-title">
                    <%if(article_summary[i].article_title.length > 26) {%>
                    <%=article_summary[i].article_title.substring(0,24) + '...'%>
                    <%} else {%>
                    <%=article_summary[i].article_title%>
                    <% } %>
                </h2>
            </a>
            <div class="time-upload"><%=article_summary[i].date%> / <%=article_summary[i].author%></div>
            <div class="text-simple">
                <%if (article_summary[i].article_body.length > 30) {%>
                <%=article_summary[i].article_body.substring(0,27) + '[...]'%>
                <%} else {%>
                <%=article_summary[i].article_body%>
                <% } %>
            </div>
            <a href="/article?id=<%=article_summary[i].article_id%>" class="continue-reading">继续阅读--></a>
        </li>
        <% } %>

    </ul>
</div>
</body>
</html>