<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show_article</title>
    <link rel="stylesheet" href="/css/clearStyle.css">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/article_page.css">
    <script src="/js/ajax.js"></script>
    <script>
        window.onload = function () {
            var btn_submit_comment = document.getElementById('btn_submit_comment');
            var add_comment = document.getElementById('add_comment');
            var user_id = document.getElementById('user_id');
            var article_id = document.getElementById('article_id');
            btn_submit_comment.onclick = function () {
                if (add_comment.value.trim() === '') {
                    alert('不能提交空评论');
                } else {
                    ajax({
                        url:'/article/add_comment',
                        data:{
                            type:'add_comment',
                            user_id:user_id.value,
                            article_id:article_id.value,
                            comment_body:add_comment.value,
                        },
                        type:'post',
                        success:function (str) {
                            var json = eval('('+str+')');
                            if (json.ok) {
                                location.reload();
                            } else {
                                alert('提交失败\n'+json.message);
                            }
                        },
                        error:function () {
                            alert('通信失败');
                        }
                    });
                }

            }
        }
    </script>
</head>
<body>
<div class="title-page">
    <img src="/images/titlePage.jpg">
    <div class="home-title">
        <a href="#">SURA's blog</a>
    </div>
</div>
<div class="container_article">
    <img class="top-img" src="/images/topImg.png" alt="">
    <div class="text-box">
        <h1 class="title"><%=article.article_title%></h1>
        <div class="massage">
            <%=article.date%>/<%=author.username%>
        </div>
        <div class="text"><%-article.article_body%></div>
    </div>
    <img class="bottom-img" src="/images/bottomImg.png" alt="">
</div>
<div class="comment">
    <h4>留言区</h4>
    <% for (var n = 0;n < comment_message.length;n++) { %>
        <div class="comment-body">
            <div class="user-avatar-img"><img src="/images/user_avatar.png" alt=""></div>
            <div class="comment-message">
                <span class="username"><%=comment_message[n].username%>&nbsp;</span>说道<br>
                <span class="upload-time"><%=comment_message[n].comment_upload_time%></span>
            </div>
            <p><%=comment_message[n].comment_body%></p>
        </div>
    <% } %>
    <% if (!user_massage) { %>
        <div class="add-comment">
            <a href="/admin/longin">登陆</a>后才可以留言
        </div>
    <% } else { %>
        <div class="add-comment">
            <input type="hidden" id="user_id" value="<%=user_massage[0].user_id%>">
            <input type="hidden" id="article_id" value="<%=article.article_id%>">
            <span>已登入&nbsp;&nbsp;<%=user_massage[0].username%></span><br>
            <textarea id="add_comment" name="comment" rows="10"></textarea>
        </div>
        <button id="btn_submit_comment">提交</button>
    <% } %>
</div>
</body>
</html>