<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin_user</title>
    <link rel="stylesheet" href="/css/clearStyle.css">
    <link rel="stylesheet" href="/css/admin_homepage_style.css">
    <link rel="stylesheet" href="/css/admin_user.css">
    <script>
        window.onload = function () {
            var btn_delete = document.getElementsByClassName('btn_delete');
            for (var i = 0;i < btn_delete.length;i++) {
                btn_delete[i].onclick = function () {
                    if (confirm('确认删除用户？\n注意：此用户上传的文章将一并删除')) {
                        return true;
                    } else {
                        return false;
                    }
                }
            }
        }
    </script>
</head>
<body>

<% include components/admin_public.ejs%>

<div class="admin-body">
    <h2>用户管理</h2>

    <table>
        <thead>

        <tr class="table-title">
            <td colspan="5">管理员账户</td>
        </tr>

        <tr>
            <td>序号</td>
            <td>用户id</td>
            <td>用户名</td>
            <td>密码</td>
            <td>操作</td>
        </tr>
        </thead>

        <% for(var i = 0; i < user_admin.length; i++) { %>
        <tbody class="user-body">
        <tr>
            <td><%=i+1%></td>
            <td><%=user_admin[i].user_id%></td>
            <td><%=user_admin[i].username%></td>
            <td>********</td>
            <td>管理员账号不允许修改</td>
        </tr>
        <% } %>

        </tbody>
    </table>

    <%if (user_status[0].is_admin === 'YES') {%>
    <table>
        <thead>

        <tr class="table-title">
            <td colspan="5">普通账户</td>
        </tr>

        <tr>
            <td>序号</td>
            <td>用户id</td>
            <td>用户名</td>
            <td>密码</td>
            <td>操作</td>
        </tr>

        </thead>

        <tbody>

        <%for (var i = 0;i < user_ordinary.length;i++) {%>

            <tr>
                <td><%=i+1%></td>
                <td><%=user_ordinary[i].user_id%></td>
                <td><%=user_ordinary[i].username%></td>
                <td>********</td>
                <td>
                    <a href="/admin/admin_user/update_password?user_id=<%=user_ordinary[i].user_id%>">修改密码</a>
                    <a class="btn_delete" href="/admin/admin_user/delete_user?user_id=<%=user_ordinary[i].user_id%>">删除</a>
                </td>
            </tr>
        <% } %>

        </tbody>
    </table>

    <div class="add-user">
        <a href="/admin/admin_user/add_user">添加用户</a>
    </div>

    <% } else { %>
    <h2>权限不足，仅管理员可修改和添加用户</h2>
    <% } %>
</div>

</body>
</html>